<header class="cabecalho">
  <img
    class="cabecalho-imagem"
    src="../assets/randomImage.jpeg"
    alt="Logo de imagem aleatoria"
  />
  <nav class="cabecalho-navbar">
    <a class="cabecalho-navbar-item" href="/">Home</a>
    <a class="cabecalho-navbar-item" href="/carrossel">Carrossel</a>
    <a class="cabecalho-navbar-item" href="/cadastro">Cadastro</a>
  </nav>
</header>
