<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
  </head>
  <body>
    <header class="cabecalho">
      <img
        class="cabecalho-imagem"
        src="../public/assets/randomImage.jpeg"
        alt="Logo de imagem aleatoria"
      />
      <nav class="cabecalho-navbar">
        <a class="cabecalho-navbar-item" href="index.html">Home</a>
        <a class="cabecalho-navbar-item" href="carrossel.html">Carrossel</a>
        <a class="cabecalho-navbar-item" href="cadastro.html">Cadastro</a>
      </nav>
    </header>

    <main class="principal">
      <h1 class="titulo">Cadastre-se</h1>
      <div class="cadastro-container">
        <form class="cadastro-form" method="post">
          <div class="entrada">
            <label for="nome">Nome Completo: </label>
            <input type="text" required name="nome" /><br />

            <label for="email">Email: </label>
            <input type="email" required name="email" /><br />

            <label for="senha">Senha: </label>
            <input type="password" required name="senha" /><br />
          </div>
          <button class="botao-form" type="submit">Cadastrar</button>
        </form>
      </div>
    </main>
    <footer class="rodape">
      <p class="rodape-texto">Criado por Gustavo Borges</p>
    </footer>
  </body>
</html>
